{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}

    <!-- <div class="container"> -->

            <div class="row align-items-center">
                    <div class="col-md-12 first_row_bg">

                        <div class="container first_row_window">

                            {% if user.is_authenticated %}
                            <h1>Du gras oui, mais de qualité !</h1>
                            <h3>{{user.username}}, trouvez un produit de substitution pour ceux que vous consommez tous les jours</h3> 
                            {% else %}
                            <h1>Du gras oui, mais de qualité !</h1>
                            <h3>Chere visiteur, trouvez un produit de substitution pour ceux que vous consommez tous les jours </h3> 
                            {% endif %}

                            <div class="text-center">
                            
                            <form method="post" class="mt-4 form-inline" novalidate>
                                {% csrf_token%}
                                {{ form|crispy }}
                                <button class= "btn btn-primary ml-4" type="submit">Chercher</button>
                            </form>

                            {% for r in res %}
                            <li><a href="{{ r.id }}">{{ r.product_name }}</a></li>
                            {% endfor %}

                            </div>

                        </div>    

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>

         
        

            <!-- <h2>{{ res }}</h2> -->

            {% for r in res %}
            <li><a href="{{ r.id }}">{{ r.product_name }}</a></li>
            {% endfor %}
    <!-- </div> -->


{% endblock %}