{% extends 'base.html' %}

{% block body %}

<h1>Substitute food with a better nutriscore</h1>

{%  if  status != "" %}
<div class="alert alert-danger" role="alert">{{ status }}</div>
{% endif %}

<p style="display:none">{{ product.id  }}</p>

<table class="table">
        <!-- <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>        
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <th scope="row">Name</th>        
            <td>{{ product }}</td>
          </tr>
          <tr>
            <th scope="row">Code</th>        
            <td>{{ code }}</td>   
          </tr>
          <tr>
            <th scope="row">Nutriscore</th>
            <td>{{ nutriscore }}</td>
            </tr>
          <tr>
            <th scope="row">Nova groups</th>
            <td>{{ nova_groups }}</td>
          </tr>
          <tr>
            <th scope="row">categories</th>        
            <td>{{ categories }}</td>
          </tr>    
        </tbody>
      </table>

     <a class="btn btn-secondary" href="{% url 'add_substitute' id product.id %}" role="button">Add to substitute list</a>

{% endblock %}

